body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(https://static.vecteezy.com/system/resources/previews/007/356/867/original/floral-background-with-flowers-in-pink-and-purple-tone-background-for-text-vector.jpg);
  
}
.boton-jugada {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#resultados {
  font-size: 20px;
  margin: 20px 0;
}

div {
  background-color: rgb(226, 193, 216);
  padding: 10px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

